# dependencies required for documentation
furo
dgl
torch
torch_scatter
torch_sparse
torch_spline_conv
torch_geometric
setuptools
sphinxcontrib-bibtex
matplotlib
sphinx_gallery
sphinx-autobuild
sphinx_rtd_theme
sphinx
ruamel.yaml
pandas
scipy
scikit-learn
pyro-api
pyro-ppl
numba